.intro-front {
    background: url(../images/home.jpg) 50% 0;
    background-repeat: no-repeat;
    min-height: calc(120vh - 720px);
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.intro-text {
    padding: 30px 30px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    margin: 60px 100px;
    max-width: 555px;
    /* font-size: 21px; */

    -webkit-box-shadow: 10px 10px 5px 0px #206ED2;
-moz-box-shadow: 10px 10px 5px 0px #206ED2;
box-shadow: 10px 10px 5px 0px #206ED2;
}

.intro-text p,
.intro-contact p {
    /* font-size: 1rem; */
    font-size: 21px;
}

.intro-text h2, .intro-contact h2 {
    font-size:31px;
}


/* .intro-contact p {
    padding: 0 220px;
    font-size: 1rem;
} */

.intro-contact {
    background: #053D5F;
    color: white;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.gradient-skin {
    background-image: linear-gradient(150deg, #2d1582 20%, #19a0ff 100%);
    background-repeat: repeat-x;
    border: none;
}

.btn-default {
    padding: 10px 50px;
    border-radius: 70px;
    font-weight: 800;
    color: #153a7b;
    border: none;
    outline: none;
    cursor: pointer;
    font-size:30px;
}

@media only screen and (max-device-width: 640px) {
    .intro-front {
        justify-content: center;
    }
    .intro-text {
        margin: 60px 60px;
        max-width: 80%;
        text-align: center;
    }
    .intro-text h2, .intro-contact h2, .btn-default {
        font-size: 60px;
        line-height: 60px;
        font-weight: 800;
    }
    /* .intro-text p {
        font-size: 45px;
    } */
    .intro-contact p {
        font-size: 31px;
        padding: 0 30px;
    }
    .btn-default {
        font-size:50px;
        padding: 20px 50px;
    }
}

.partner-us {
    text-align:center;

    /* background: url(../images/section.jpg) 50% 0; */

    background: 
        linear-gradient(150deg, rgba(248, 246, 253, 0.6)0%, rgba(232, 237, 241, 0.6) 100%),
        url(../images/section.jpg);



    background-repeat: no-repeat;
    min-height: calc(120vh - 720px);
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top:30px;
}

.advantages {
    display:flex;
    /* width:100%; */
    flex-direction:row;
    padding: 0 300px;
}

.partner-us h1 {
    font-size:41px;
    color: #206ED2;
}

.advantages div {
    font-size:21px;
}

.items {
    padding: 0 50px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 20px;

    -webkit-box-shadow: 10px 10px 5px 0px #206ED2;
    -moz-box-shadow: 10px 10px 5px 0px #206ED2;
    box-shadow: 10px 10px 5px 0px #206ED2;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 25px;
}

.who-we-are {
    background-image: linear-gradient(150deg, #2d1582 0%, #19a0ff 100%);
    min-width:100%;
    height:740px;
} 